<html>
  <head>
    <title>NY Times Headlines</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

  <body>
    <center>
      <div class = "container">
        <div class = "page-header">
            <h2> NY Times Headlines </h2>
        </div>
        {% for new in news %}
          <div class = "panel panel-info">
            <div class = "panel-heading">
              <h4> {{ new.title }} </h4>
            </div>
            <div class = "panel-body">
              <p>Raw: {{ new }}</p>
              <p>Click this link to redirect: {{ new.link|safe }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </center>
  </body>
